body {
  margin: 1em;
  display: grid;
  grid: min-content / repeat(12, 1fr);
  grid-gap: 1em;
}
header {
  grid-column: 1/12;
}
header,
footer {
  grid-column: 1 /13;
}

aside,
nav {
  grid-column: 1/5;
}
main {
  grid-column: 5/13;
  grid-row: 2/4;
}
